{% set title = (title ? "#{title} | Financeiro" : null) | default('Sistema Financeiro') %}
{% set description = description | default('Sistema Financeiro para controle de finanças pessoais!') %}
{% set lang = lang | default('pt_BR') %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:locale" content="{{ LANG }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website"/>

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}"/>
    <meta name="theme-color" content="{{ theme_color | default('#84aaff') }}">

    <meta property="og:site_name" content="Sistema Financeiro">
    <meta property="og:title" content="{{ og_title | default( title ) }}"/>
    <meta property="og:locale" content="{{ LANG|default(lang) }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="{{ og_type | default('website') }}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{{ public_path('/assets/css/main.css') }}">
    {% block script_on_head %}{% endblock %}
</head>
<body>
{% block script_on_body_start %}{% endblock %}


{% block header_content %}{% endblock %}

<div class="">
    {% block main_content %}{% endblock %}
</div>

{% block footer_content %}{% endblock %}

<footer>
    <h2 class="mentorship">@copyright {{ "now"|date('Y') }} - Todos os direitos reservados</h2>
</footer>

<script type="application/javascript" src="{{ public_path('/assets/js/main.js') }}"></script>
{% block script_on_body_end %}{% endblock %}
</body>
</html>