{% extends 'layout/main.twig' %}

{% block main_content %}
    <h1>Transações</h1>

    <a class="btn btn-success" href="/transaction/create">Criar nova transação</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Pago?</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data de pagamento</th>
                <th scope="col">Data de vencimento</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.value }}</td>
                <td>
                    {% if transaction.isPayed %}
                        <span class="text-success">Sim</span>
                    {% else %}
                        <span class="text-danger">Nao</span>
                    {% endif %}
                </td>
                <td>{{ transaction.type.value }}</td>
                <td>
                    {% if transaction.paymentDate %}
                        {{ transaction.paymentDate|date('d/m/Y') }}
                    {% else %}
                        <span class="text-danger">Nao informado</span>
                    {% endif %}
                </td>
                <td>
                    {% if transaction.dueDate %}
                        {{ transaction.dueDate|date('d/m/Y') }}
                    {% else %}
                        <span class="text-danger">Nao informado</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="/transaction/{{ transaction.id }}/edit">Editar</a>
                        <a class="btn btn-danger" href="/transaction/{{ transaction.id }}/delete">Excluir</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}